html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #333;
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    width: 60%
}